/* Show game board limits */

.gameBoard canvas {
	border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



/* For titles and other stuff in the center */

.deadcenter {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#bigsimpletitle {
	font-size: 500%;
}


/*Pause*/
.pause {
    font-size: 500%;
    color: #990000;
    border-radius: 25px;
    border: 5px solid #990000;
    padding: 30px; 
}


/* Game board elements */

/* Elements in the four corners i.e. team information */
/*#team1{
     position:absolute;
     top:6em;
     left:0;
     color: #377eb8;
     text-align: left;
     padding: 10px;
}

#team2{
     position:absolute;
     top:6em;
     right:0;
     color: #4daf4a;
     text-align: right;
     padding: 10px;
}

#team4{
     position:absolute;
     bottom:6em;
     left:0;
     color: #984ea3;
     text-align: left;
     padding: 10px;
}

#team3{
     position:absolute;
     bottom:6em;
     right:0;
     color: #ff7f00;
     text-align: right;
     padding: 10px;
}*/

/*#bottomcenter{
     bottom:0;
     color: #e41a1c;
	 text-align: center;
	 margin-left: auto;
     margin-right: auto;
	 width: 70%;
}


#topcenter{
     top:0;
	 margin-left: auto;
     margin-right: auto;
	 text-align: center;
	 width: 70%;
}*/



#team1{
     position:fixed;
     top:0;
     left: 50%;
	 text-align: center;
     color: #377eb8;
     padding: 5px;
     transform: translate(-50%, 0);
}

#team2{
     position:fixed;
     top:50%;
     right:0;
     color: #4daf4a;
     text-align: right;
     padding: 5px;
     transform: translate(0,-50%);
}

#team4{
     position:fixed;
     top:50%;
     left:0;
     color: #984ea3;
     text-align: left;
     padding: 5px;
     transform: translate(0,-50%);
}

#team3{
     position:fixed;
     bottom:0;
	 text-align: center;
	 left: 50%;
     color: #ff7f00;
     padding: 5px;
     transform: translate(-50%, 0);
}

